In [ ]:
!pip install spacy
!python -m spacy download en_core_web_sm

In [5]:
import pandas as pd
import spacy

with open('transfer_strings.txt', 'r') as file:
    strings = file.readlines()

# Load the NER model
nlp = spacy.load('en_core_web_sm')

# Initialize lists
senders = []
receivers = []
amounts = []
banks = []

# Process each string in the text file
for string in strings:
    doc = nlp(string)

    # Initialize variables
    sender = None
    receiver = None
    amount = None
    bank = None

    # Extract named entities
    for entity in doc.ents:
        if entity.label_ == 'PERSON' and not sender:
            sender = entity.text.strip()
        elif entity.label_ == 'PERSON' and not receiver:
            receiver = entity.text.strip()
        elif entity.label_ == 'MONEY':
            amount = entity.text.strip()
        elif entity.label_ == 'ORG':
            bank = entity.text.strip()

    # Append extracted information to respective lists
    senders.append(sender)
    receivers.append(receiver)
    amounts.append(amount)
    banks.append(bank)

# Create a dataframe
data = {
    'Sender': senders,
    'Receiver': receivers,
    'Amount Transferred': amounts,
    'Bank Name': banks
}
df = pd.DataFrame(data)

# Print the dataframe
display(df)

,Sender,Receiver,Amount Transferred,Bank Name
0,John Doe,Jane Smith,"3,000",Chase Bank
1,Sarah Brown,David Johnson,"2,500",Citibank
2,Michael Anderson,Lisa Williams,"5,000",Bank of America
3,Taylor,Matthew Davis,"1,500",HSBC
4,James Wilson,None,"4,000",Wells Fargo
5,None,None,"8,200",EasyPaisa
6,Sophia Martinez,Benjamin Clark,"2,200",Standard Chartered Bank
7,Daniel Turner,None,"6,500",Ava Rodriguez
8,Lily Foster,Ethan Green,"3,800",TD Bank
9,William Lee,Mia Adams,"2,100",U.S. Bank
10,Liam Turner,None,"7,200",PNC Bank